/* Reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffe4ec, #e6f0ff);
    color: #333;
}

/* Header */
header {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #ffb6c1, #add8e6);
    color: white;
}

/* Container principal */
main {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

div {
    padding: 20px;
    background-color: white;
    width: 100%;
    height: 100;
    border-radius: 15px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
}

div.show {
    opacity: 1;
    transform: translateY(0);
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
}
.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}

.quadrado{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    transition: all 0.4s ease;
    cursor: pointer;
}

/* Cores diferentes */
.q1{
    background-color: #0053fd;
}

.q2{
    background-color: #fefc0b;
}

.q3{
    background-color: #0f0f10;
}

.q4{
    background-color: #8A8A8A8A;
}

/* Efeito ao passar o mouse */
.quadrado:hover{
    transform: scale(1.2) translateY(-20px) rotate(5deg);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* Caixas de conteúdo */
.fade-box {
    background: white;
    border-radius: 15px;
    padding: 20px;
    margin: 30px 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

    /* Estado inicial */
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;
}

/* Quando aparece */
.fade-box.show {
    opacity: 1;
    transform: translateY(0);
}

/* Links */
a {
    color: #ff69b4;
    text-decoration: none;
    font-weight: bold;
}

video{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #add8e6;
}